/*Browser Styles*/
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Background color and font */
body {
  background-color: #edeef5;
  font-family: 'Orbitron', sans-serif;
  line-height: 1.6;
}

/* Header */
.weather-header {
  background-color: #be1a8a;
  text-align: center;
  padding: 2rem 0;
}

.weather-header h1 {
  margin: 0;
  color: #000000;

}

/* Main container */
.container-fluid {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

/* Search form and history list */
.form {
  margin-bottom: 20px;
  color: #000000;
}

.weather-search {
  width: 100%;
  padding: 15px;
  font-size: 20px;
  text-align: center;
  border: 2px solid #000000; 
}

.search-button {
  background-color: #007bff;
  color: #000000;
  padding: 12px 20px;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

/* Main content area */
.col-lg-9 {
  background-color: #007bff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  border: 2px solid #000000; 
  font-weight: bold;
}

/* Forecast cards */
.col-md-2 {
  background-color: #12e00e;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgb(244, 240, 240);
  text-align: center;
  font-weight: bold;
  font-size: larger;
}

/* Spacing between elements */
.mt-1 {
  margin-top: 1rem;
}

.mt-3 {
  margin-top: 3rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

/* Search history list */
#history {
    margin-top: 20px;
    padding: 20px;
    border: 2px solid #000000;
    border-radius: 8px;
  }
  
  .list-group-item {
    cursor: pointer;
    padding: 12px;
    font-size: 18px;
  }
  
  .list-group-item:hover {
    background-color: #007bff;
  }

/* Weather icons */
 .weather-icon {
  font-size: 4rem;
}

/*Footer*/
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #007bff;
    color: #fff;
    padding: 20px;
  }

  body {
    margin-bottom: 60px;
  }

  .weather-header {
    background-image: url('weather.jpeg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  footer {
    background-image: url('weather.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #000000; 
    padding: 1em;
    font-weight: bold;
  }